*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background: rgb(43, 100, 167);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 15px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #fff;
    backdrop-filter: blur(20px);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

select[name="usertype"] {
    width: 100%;
    height: 100%;
    padding: 10px;
    /*border: 2px solid #ccc;*/
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
.input-box select::placeholder{
    color: #000000;
}

.input-box input::placeholder {
    color: #000000;
}

.container .btn {
    width: 50%;
    height: 50px;
    background-color: #1aa4b8;
    border: none;
    outline: none;
    border-radius: 40px;
    margin: 0 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}
.custom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellowgreen;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 300px;
    text-align: center;
}

/* Style for the "Close" button */
#closeModal {
    background-color: #333;
    color: green;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
